@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="text-center">
        <h1>Temperature Monitor</h1>
        <p>Current Temperature: @Model.CurrentTemperature °C</p>
    </div>
</body>
</html>
